<div class="bg-video-wrap">
  <video src="/assets/IMG_4056.MOV" loop muted autoplay></video>
    <div class="overlay">
        <img src = "/assets/Poaner%203.png" alt="Applogo" class="top-logo"  >
    <ul class="account">
        <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </ul>
  </div>
</div>
<%= render 'layouts/sns' %>