<div class="bg-video-wrap">
  <%= video_tag asset_path("IMG_4056.MOV", autoplay) %>
    <div class="overlay">
        <%= image_tag asset_path("Poaner3.png", alt: "applogo", :id => "logo") %>
    <ul class="account">
        <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </ul>
  </div>
</div>
<%= render 'layouts/sns' %>