<div class="container">
    <% provide(:title, "My page") %>
    <h1>自己紹介</h1>
    <div id="news" class="big-bg">
        <div class="news-contents wrapper">
            <article>
                <header class="post-info">
                    <h2 class="post-info__title"></h2>
                    <p class="post-info__date">3/21 <span>2020</span></p>
                    <p class="post-info__cat">カテゴリー：友人へのインタビュー</p>
                </header>
                <h3>友人T氏</h3>
                <%= image_tag asset_path("friends/IMG_3959_2.jpg") %>
            </article>
            <div class="interview-title">

                  <h3 class="sub-title">カテゴリー</h3>
                  <ul class="sub-menu">
                      <li><a href="/introduction">家族の紹介</a></li>
                      <li><a href="/tennis">趣味</a></li>
                      <li><a href="/interview">友人へのインタビュー</a></li>
                  </ul>


              <h3>Q : 友人T氏にお聞きします。私の印象は？？</h3>
              <p>
                  中学校の同級生だけど昔はそんなに関わりもなくて、大人になってから共通の友人を通じてまだみんな地元にいることもあり、よく会うようになりました。
                  一緒にいると、気がつけば年齢や性別問わず誰とでも壁を作らず仲良くなっている、そんな人です。
                  昔はただのうるさいやつみたいなイメージしかなかったので驚きました。笑
                  それも彼の根幹にあるのは「努力」で自分を変えてきたことにあると思います。
                  学生時代にテニスやプライベートをはじめ、「自分がどうなりたいか」というものに対して真剣に努力をし、それを結果として実らせてきたことによる体験が彼の原動力として今も生き続けているのだと思います。
                  今回も子供が3人いるなかで優先順位を変えて、自分がしたいプログラミングの勉強をゼロから始めたという状況でも言い訳せず、しっかりとやり遂げていることを本当に尊敬しています。
                  他人との努力の価値観の違いで浮いてしまったり、言動が誤解されたりして、報われないなと思うこともあったはずですが、自分の行動で今を切り開いてきた人間です。
                  彼を受けいれ、お互いに高めあえる環境であれば彼はどこまでも輝き続けられると私は信じています。
              </p>
            </div>
        </div><!-- /.news-contents -->
                <div class="news-contents wrapper">
            <article>
                <h3>友人K氏</h3>
                <%= image_tag asset_path("friends/IMG_4157.JPG") %>
            </article>
            <div class="interview-title">
              <h3>Q : 友人K氏にお聞きします。私の印象は？？</h3>
              <p>
                  前田くんは中学の同級生で、同じテニス部に入り、お互い走るのが苦手という共通点で仲良くなりました。 笑
                  中学校時代の彼の印象はとにかく明るく、誰とでも分け隔てなく接してる印象でした。そこは今も変わらずムードメーカーで、どこに行ってもいい意味で目立つ存在だと思います。
                  大人になってからの彼を一言で表現するなら「熱い男」だと思います。取り組んだ事に熱心・熱中して向き合う姿勢は目を見張るものがあり、目指すものに向かって努力し続けられるのは彼の最大の武器だと思います。
                  テニスでペアを組み大会に参加してきましたが、彼の熱さには何度も助けられてきました。どんな困難な事にぶつかっても持ち前の「熱さ」で乗り切って行けると思います。
                  これからの活躍を期待しつつ、彼なら必ず活躍してくれると信じております。
              </p>
            </div>
        </div><!-- /.news-contents -->

    </div>
</div>