<div class="container">
    <% provide(:title, "My page") %>
    <h1>自己紹介</h1>
    <div id="news" class="big-bg">
        <div class="news-contents wrapper">
            <article>
                <header class="post-info">
                    <h2 class="post-info__title"></h2>
                    <p class="post-info__date">3/21 <span>2020</span></p>
                    <p class="post-info__cat">カテゴリー：友人へのインタビュー</p>
                </header>
                <h3>友人T氏</h3>
                <%= image_tag asset_path("friends/IMG_3959_2.jpg" alt: "友人A" :class => "friendA") %>

            </article>
            <div class="interview-title">

                  <h3 class="sub-title">カテゴリー</h3>
                  <ul class="sub-menu">
                      <li><a href="/introduction">家族の紹介</a></li>
                      <li><a href="/tennis">趣味</a></li>
                      <li><a href="/interview">友人へのインタビュー</a></li>
                  </ul>


              <h3>Q : 友人T氏にお聞きします。私の印象は？？</h3>
              <p>
                  中学校の同級生だけど昔はそんなに関わりもなくて、大人になってから共通の友人を通じてまだみんな地元にいることもあり、よく会うようになりました。
                  一緒にいると、気がつけば年齢や性別問わず誰とでも壁を作らず仲良くなっている、そんな人です。
                  昔はただのうるさいやつみたいなイメージしかなかったので驚きました。笑
                  それも彼の根幹にあるのは「努力」で自分を変えてきたことにあると思います。
                  学生時代にテニスやプライベートをはじめ、「自分がどうなりたいか」というものに対して真剣に努力をし、それを結果として実らせてきたことによる体験が彼の原動力として今も生き続けているのだと思います。
                  今回も子供が3人いるなかで優先順位を変えて、自分がしたいプログラミングの勉強をゼロから始めたという状況でも言い訳せず、しっかりとやり遂げていることを本当に尊敬しています。
                  他人との努力の価値観の違いで浮いてしまったり、言動が誤解されたりして、報われないなと思うこともあったはずですが、自分の行動で今を切り開いてきた人間です。
                  彼を受けいれ、お互いに高めあえる環境であれば彼はどこまでも輝き続けられると私は信じています。
              </p>
            </div>
        </div><!-- /.news-contents -->
    </div>
</div>