<div class="container">
    <% provide(:title, "My page") %>
    <h1>自己紹介</h1>
    <div id="news" class="big-bg">
        <div class="news-contents wrapper">
            <article>
                <header class="post-info">
                    <h2 class="post-info__title"></h2>
                    <p class="post-info__date">3/21 <span>2020</span></p>
                    <p class="post-info__cat">カテゴリー：家族の紹介</p>
                </header>
                <%= image_tag asset_path("IMG_4090.JPG") %>

            </article>

            <aside>
                <h3 class="sub-title">カテゴリー</h3>
                <ul class="sub-menu">
                    <li><a href="/introduction">家族の紹介</a></li>
                    <li><a href="/tennis">趣味</a></li>
                    <li><a href="/interview">友人へのインタビュー</a></li>
                </ul>

                <h3 class="sub-title">自己紹介</h3>
                <p>
                    名前 : 前田 龍汰(マエダ リョウタ)<br>
                    生年月日 : 1991/02/19(29歳)<br>
                    血液型 : A型<br>
                    サイズ : 169cm 65kg<br>
                    出身地 : 埼玉県狭山市<br>
                </p>
            </aside>
        </div><!-- /.news-contents -->

        <div class="grid">
            <div class="My-image">
                <img src="/assets/family/IMG_4096.JPG" class="My-image__item" >
                <p>三男の変顔！！</p>
            </div>
            <div class="My-image">
                <%# <img src="/assets/family/IMG_4095.JPG" class="My-image__item"> %>
                <%= image_tag asset_path("family/IMG_4095.JPG") %>
                <p>東武動物公園</p>
            </div>
            <div class="My-image">
                <img src="/assets/family/IMG_4093.JPG" class="My-image__item">
                <p>羊に混じり学ぶ娘</p>
            </div>
            <div class="My-image">
                <img src="/assets/family/IMG_4091.JPG" class="My-image__item">
                <p>広島に久々帰りました！！</p>
            </div>
            <div class="My-image">
                <img src="/assets/family/IMG_4097.JPG" class="My-image__item">
                <p>新幹線にカシャ！</p>
            </div>
            <div class="My-image">
                <img src="/assets/family/IMG_4098.JPG" class="My-image__item">
                <p>妻が躊躇なく触れ合いすぎる</p>
            </div>
            <div class="My-image">
                <img src="/assets/family/IMG_4099.JPG" class="My-image__item">
                <p>これからも家族みんなでがんばろう</p>
            </div>
            <div class="My-image">
                <img src="/assets/family/IMG_4100.JPG" class="My-image__item">
                <p>調子に乗る長男</p>
            </div>
            <div class="My-image">
                <img src="/assets/family/IMG_4101.JPG" class="My-image__item">
                <p>知り合いのビアガーデンに来た</p>
            </div>
        </div><!-- /.grid -->
    </div>
</div>
