header {
  height: 90px;
  line-height: 90px;
  .container {
    width: 1170px;
    padding : 0;
    display: flex;
    position: relative;
    img {
      height : auto; 
      width  : 120px;
      margin-right: 0;
      padding-top : 10px;
    }
    nav {
      position: absolute;
      right: 0;
      ul {
        line-height: 90px;
        list-style: none;
        a {
          padding-right: 20px;
          text-decoration: none;
        }
      }
    }
  }
}