
<section id="sns">
    <div class="wrapper">
        <div class="sns-box">
            <h4 class="sns-title">Facebook</h4>
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fwebcreatorbox.fb%2F&tabs=timeline&width=340&height=315&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId=229812980409867" width="330" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </div>

        <div class="sns-box">
            <h4 class="sns-title">Twitter</h4>
            <a class="twitter-timeline" data-height="315" data-width="330" href="https://twitter.com/MaedaRyota71?ref_src=twsrc%5Etfw">Tweets by Maeda66277577</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
        </div>
        
        <div class="sns-box">
            <h4 class="sns-title">Youtube</h4>
            <iframe width="330" height="315" src="https://www.youtube.com/embed/bqJtUojA1-g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</section>